.main-container {
    height: 80vh;
    width: auto;
    display: grid;
    grid-template-columns: 1fr repeat(4, 1fr);
    grid-template-rows: 1fr repeat(4, 1fr);
    grid-template-areas: 
    "title title title title title"
    "sidebar chatbox chatbox chatbox chatbox"
    "sidebar chatbox chatbox chatbox chatbox"
    "sidebar chatbox chatbox chatbox chatbox"
    "sidebar chatbox chatbox chatbox chatbox";
}

.title {
    grid-area: title;
    /* border: 1px solid red; */
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}


.sidebar {
    grid-area: sidebar;
    /* border: .1px solid #999999; */
    border-radius: 1rem;
    margin: 1rem;
    padding-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color:#9999991c;
    position: relative;
    justify-content: space-between;
    /* opacity: 10%; */
}

.sidebar-button {
    margin: 1vh;
    /* position: absolute; */
    justify-self: flex-end;
    

}

.chatbox {
    grid-area: chatbox;
    /* border: 1px solid black; */
    border-radius: 1rem;
    margin: 1rem;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    text-wrap: wrap;
    /* background: rgb(196,171,230); */
    /* background: linear-gradient(0deg, rgba(196,171,230,1) 0%, rgba(188,155,233,1) 100%); */
}

.chatbox > h1 {
    align-self: center;
}

.chatbox > form {
    margin-top: auto;
    height: 10%;
    align-items: center;
    
}



.bottom-section {
    display: flex;
    margin: 1rem;
    padding: 1%;
}

.input-text {
    width: 100%;
    height: 90%;
    font-size: auto;
    margin-right: 1rem;
    background-color: #A49AB3;
    border: 1px solid rgba(0, 0, 0, 0.097);
    color: black;
    border-radius: .5rem;
}

.input-text:focus {
    border-color: #007bff; /* Change the border color to blue */
    background-color: #f0f0f0; /* Change the background color */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a box shadow */
}

.input-submit {
    height: 90%;
    width: 2rem;
    font-size: auto;
    font-weight: bolder;
    /* background-color: #5a06ce; */
    color: antiquewhite;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
}

.input-submit:hover {
    cursor: pointer;
}

.test-chat {
    border: 1px solid gray;
    margin: 1rem;
}

.chats {
    padding-top: 1vh;
    padding-bottom: 1vh;
    max-height: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    height: 100%;
    /* border-top: 1px solid black; */
    /* border-bottom: 1px solid black; */

}

.user-message {
    margin-left: auto;
    max-width: 50%;
    width: fit-content;
    text-align: left;
    padding-right: .5rem;
    padding-left: .5rem;
    margin-bottom: .5rem;
    border-radius: 1.5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    /* border: #999999; */
    /* margin-right: .5rem; */
    /* background-color: #5a06ce; */
    color: antiquewhite;
    border: 2px solid #999999
}

.assist-message {
    margin-right: auto;
    /* max-width: 50%; */
    width: fit-content;
    text-align: left;
    padding-left: 1rem;
    margin-bottom: .25rem;
    border-radius: 1.5rem;
    padding-top: .15rem;
    padding-bottom: .15rem;
    padding-right: .5rem;
    /* margin-left: .5rem; */
    /* background-color: #5a06ce; */
    color: antiquewhite;
}
.assistant-chat{
    max-width: 500px;
}

.user-chat{
    max-width:
}